<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love Percentage Calculator</title>
    <link rel="stylesheet" href= "{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Love Percentage Calculator</h1>
        <form method="post">
            <div class="name_container">
                <label for="name1">Your Name:</label><br>
                <input type="text" id="name1" name="name1" size="50" required>
                <br><br>
                <label for="name2">Your Partner's Name:</label><br>
                <input type="text" id="name2" name="name2" size="50" required>
            </div>
            <br><br>
            <button type="submit">Find your Love Percentage!</button>
        </form>
    

    
        {% if result %}
            <h2>{{ name1 }} and {{ name2 }}'s Love Percentage is {{ result }}%</h2>
        {% endif %}
    
    </div>
    
</body>
</html>